#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.contact{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.conDiv{
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
}
.searchInput{
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 10px;
  width: 200px;
  height: 25px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.formDiv{
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
}


/* FORM STİLLERİ */
form {
    background-color: #ffffff;
    padding: 30px;
    max-width: 400px; /* Maksimum genişlik belirle */
    display: flex;
    flex-direction: column;
}

/* LABEL (Etiket) STİLLERİ */
label {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column; /* Etiket ve input alt alta gelsin */
}


/* BUTON STİLLERİ */
button[type="submit"] {
    background-color: #007bff; /* Mavi renk */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Hover'da daha koyu mavi */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}
